/* styles */

body {
  font-family: Arial, sans-serif;
  background-color: hsl(30, 85%, 74%);
}


#app {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#header {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 10px;
  background-color: #fbb57b;
}

#zone-selector, #login {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
#plant-library, #plant-search, #plant-list{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin: 20px 0;
}

#your-garden {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin: 20px 0;
}

#plant-cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  gap: .25rem;
  margin: 1rem;
 }

#card { 
  border: 1px solid black;
  background-color: aliceblue;
  padding: 5rem;
}

#card.header {
  display: flex;
  margin-bottom: .25rem;
}

#card.body { 
  font-size: .8rem;
  color: #777
}

#hide{
  display: none;}

#garden-blueprint
{display: flex;
flex-direction: column;
align-items: flex-start;
margin: 20px 0;}


#user-plant-list {display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin: 20px 0;}
 

#user-garden-library {display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin: 20px 0;}
 

#grid-container {
  display: grid;
  gap: 1px;
  background-color:#046437;
}

.grid-cell {
  width: 50px;
  height: 50px;
  background-color: #0b8a4f;
  border: 1px solid #ccc;
}

#actions {
  display: flex;
  gap: 10px;
}

/* calendar */
.calendar {
width: 300px;
border: 1px solid #ddd;
border-radius: 5px;
margin-bottom: 20px;
}

#calendar-header {
display: flex;
justify-content: space-between;
align-items: center;
background-color: #f0f0f0;
padding: 10px;
}

#calendar-days {
display: flex;
background-color: #f9f9f9;
padding: 5px;
}

#calendar-days div {
width: 14.28%;
text-align: center;
padding: 10px 0;
}

#calendar-body {
display: flex;
flex-wrap: wrap;
}

#calendar-body div {
width: 14.28%;
height: 100px;
border: 1px solid #ddd;
box-sizing: border-box;
position: relative;
overflow: hidden;
}

.event {
background-color: #d1e7dd;
margin: 2px;
padding: 2px;
border-radius: 3px;
cursor: pointer;
font-size: 0.8em;
position: relative;
}

.event-buttons {
position: absolute;
top: 0;
right: 0;
display: none;
flex-direction: column;
}

.event:hover .event-buttons {
display: flex;
}

.event-button {
background: none;
border: none;
cursor: pointer;
font-size: 0.8em;
}

.modal {
display: none;
position: fixed;
z-index: 1;
left: 0;
top: 0;
width: 100%;
height: 100%;
overflow: auto;
background-color: rgb(0,0,0);
background-color: rgba(0,0,0,0.4);
}

.modal-content {
background-color: #fefefe;
margin: 15% auto;
padding: 20px;
border: 1px solid #888;
width: 80%;
}

.close {
color: #aaa;
float: right;
font-size: 28px;
font-weight: bold;
}

.close:hover,
close:focus {
color: black;
text-decoration: none;
cursor: pointer;
}


#start-date-calendar {
  width: 100%;
  border-collapse: collapse;
}

#start-date-calendar th, #start-date-calendar td {
  border: 1px solid #ccc;
  padding: 5px;
  text-align: center;
}


/* weather */
:root {
  --bg-color1: #212529;
  --bg-color2: #2a2b2d;
  --aqi-1: #d4e157;
  --aqi-2: #ffee58;
  --aqi-3: #ffca28;
  --aqi-4: #ff7043;
  --aqi-5: #ef5350;
}
#weathercontainer{
  display: flex;
  flex-direction: center;
  align-items: flex-start;
  margin: 20px 0;
}
.weather-data {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 12px;
}

.weather-left {
  grid-column: span 1;
}

.current-weather {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.current-weather h2 {
  margin: 7px 0;
}

.current-weather p {
  color: #fff;
}
.weathercard-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 10px;
}
.forecast-item {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  place-items: center;
  margin-bottom: 15px;
}

.icon-wrapper {
  display: flex;
  align-items: center;
}
.weather-right .weather-right h2{
  grid-column: span 3;
  margin-bottom: 10px;

}
.highlights {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  column-gap: 15px;
}

.card-head {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}

.air-index {
  color: #000;
  padding: 5px 10px;
  border-radius: 15px;
}

.air-index.aqi-1 {
  background-color: var(--aqi-1);
}
.air-index.aqi-2 {
  background-color: var(--aqi-2);
}

.air-index.aqi-3 {
  background-color: var(--aqi-3);
}

.air-index.aqi-4 {
  background-color: var(--aqi-4);
}

.air-index.aqi-5 {
  background-color: var(--aqi-5);
}
.sunrise-sunset {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.item {
  display: flex;
  align-items: center;
  gap: 10px;
}

.item h2 {
  margin-top: 15px;
}

#plant-cards {
  display: flex;
  align-items: center;
  justify-content: center;

}

.card {
  background-color: var(--bg-color2);
  padding: 15px;
  border-radius: 10px;
  color: #fff;
  margin-bottom: 20px;
}
@media (max-width: 1100px) {
  .weather-data {
    grid-template-columns: repeat(3, 1fr);
  }

  .weather-right {
    grid-column: span 2;
  }

  .highlights {
    grid-template-columns: repeat(3, 1fr);
  }

  .card:nth-of-type(1) {
    grid-column: span 3;
  }
}
@media (max-width: 1040px) {
  .weather-data {
    grid-template-columns: repeat(2, 1fr);
  }

  .weather-right {
    grid-column: span 1;
  }

  .highlights {
    grid-template-columns: repeat(2, 1fr);
  }

  .card:nth-of-type(1) {
    grid-column: span 2;
  }
}
@media (max-width: 660px) {
  .header {
    flex-direction: column;
  }

  .header h2 {
    margin-bottom: 8px;
  }

  .header #city_input,
  .header #searchBtn,
  .header #locationBtn {
    width: 100%;
    margin-bottom: 100px;
  }
}
